nav a,
        #mobile-menu a {
            transition: background-color 0.3s ease;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            line-height: 1.5;
            font-size: 1rem;
        }

        nav a:hover,
        #mobile-menu a:hover,
        nav a.active,
        #mobile-menu a.active {
            background-color: #FF0000;
            color: #FFFFFF;
        }

        .carousel {
            position: relative;
        }

        .carousel-items {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .carousel-item {
            min-width: 100%;
            display: none;
        }

        .carousel-item.active {
            display: block;
        }

        .mi-carousel-seccion .carousel {
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
        }

        .mi-carousel-seccion .carousel img {
            scroll-snap-align: start;
            flex-shrink: 0;
            width: 100%;
            height: 30rem;
            object-fit: cover;
            border: 2px solid #ddd;
            border-radius: 10px;
            margin-right: 10px;
        }

        .mi-carousel-seccion .custom-container {
            background-color: #ffffff;
            border-radius: 10px;
            padding: 2.5rem;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        }

        .title-left {
            text-align: left;
        }

        .title-left .line {
            display: block;
            width: 50px;
            height: 5px;
            background-color: #17B6D2;
            margin-bottom: 10px;
        }

        .wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

        .wrapper .image {
            flex: 1;
            max-width: 50%;
            padding: 20px;
        }

        .wrapper .text {
            flex: 1;
            max-width: 50%;
            padding: 20px;
        }

        .wrapper .text h2 {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        .wrapper .text p {
            font-size: 1rem;
            line-height: 1.5;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

        .dropdown-menu {
            display: none;
            position: absolute;
            background-color: #000;
            min-width: 10rem;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-menu a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-menu a:hover {
            background-color: #FF0000;
        }